name: deploy-docker-manylinux2014_x86_64_cuda_12.0

on:
    push:
        branches:
            - main
    release:
        types: 
            - published

jobs:
  build_docker:
        name: manylinux2014_x86_64_cuda_12.0
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push manylinux2014_x86_64_cuda-12.0
              id: docker_build
              uses: docker/build-push-action@v3
              with:
                  push: true
                  file: ./docker/manylinux2014_x86_64_cuda_12.0/Dockerfile
                  tags: sameli/manylinux2014_x86_64_cuda_12.0:latest

            - name: Image digest
              run: echo ${{ steps.docker_build.outputs.digest }}

  test_docker:
        needs: [build_docker]
        name: manylinux2014_x86_64_cuda_12.0
        runs-on: ubuntu-latest
        steps:
            - name: Install Snap
              run: |
                sudo apt update
                sudo apt install snapd

            - name: Install Docker
              run: |
                sudo snap install docker
                sudo groupadd -f docker
                sudo usermod -aG docker $USER
                newgrp docker

            - name: Pull Docker Image
              run: docker pull sameli/manylinux2014_x86_64_cuda_12.0

            - name: Run Docker Image
              run: docker run -t sameli/manylinux2014_x86_64_cuda_12.0 nvcc --version
